/* global value */
:root {
    --blue :#19c8fa;
    --transparent-blue :#19c9fa8f;
    --dark-blue :#00232c;
    --white :#FFFFFF;
    --dark : #1f2021; 
    --transparent-color: #00232ca9;
}
* { 
    transition: 0.4s; 
    box-sizing: border-box;
}
body {font-family: 'Open Sans', sans-serif;}
.sph { text-align: center; }
.sph h3 { 
    display: inline-block;
    margin: auto;
    position: relative;
    margin-bottom: 30px; 
}
.sph h3::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--dark);
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
}
.sph h3::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--white);
    border: 4px solid ;
    top: 155%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.sph:hover h3::before { width: 160px; }
.sph p {
    margin: 10px auto;
    width: 75%;
    color: gray;  
}
.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    padding: 40px;
    top: 50%;
    z-index: 323;
    transform: translateY(-50%);
    background-color: rgb(26, 201, 250 ,0.4);
}
.panel .info {
    max-width: 500px;
    padding: 10px;
    color: var(--white);
}
@media (max-width:991px) {.panel {width: 100%;} } 

/* global value */
/* ------------------------------------------------------------------------------------- */
/* start header */
/* the dimensions and the background of the header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/landing.jpg);
    background-position: center center ;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
}
header::after{
    position: absolute;
    content: "";
    width: 100%;
    height:100%;
    background-color: var(--dark-blue);
    top:0;
    left:0;
    opacity: 0.5;
}
/* the dimensions and the background of the header section */
/* to make the container flow on the background */
header .container {
    position: relative;
    z-index: 2312312;
}
/* set the nav and its attribute */
header .container nav{ 
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container nav .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .container nav ul { margin: 0; }
header .container nav ul li { 
    list-style: none;
    display: inline;
    margin: 7.5px;
}
header .container nav ul li a { 
    text-decoration: none; 
    text-transform: uppercase; 
    color: var(--white);
    font-size: 16px;
    position: relative;
    z-index: 2;
}
header .container nav ul li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--blue);
    bottom: -23px;
    left: 0;
    transition: 0.4s;
}
header .container nav ul li .active,
header .container nav ul li a:hover { color: var(--blue); }
header .container nav ul li .active::after,
header .container nav ul li a:hover::after {width: 100%;}
header .container nav i {
    color: var(--white);
    font-size: 20px;
    padding: 5px 15px;
    border-left: 3px solid var(--white);
}
header .container nav i:hover { 
    color:var(--blue);
    border-color: var(--blue);
}
header .container nav::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 15px;
    left: 0;
    transition: 0.4s;
    background-color: rgba(177, 175, 175, 0.274);
}
@media (max-width:991px) {
    header .container ul {
        display: none;
        transition: 0.4s;
    }
    header .container .links ul li a::after { bottom: -10px; }   
    header .container .links:hover ul {
        position: absolute;
        right: 70px;
        bottom: -240%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: var(--dark);

    }
    header .container .links ul::after
    {
        content: "";
        border: 15px solid var(--dark);
        border-color: transparent transparent var(--dark) transparent ;
        position: absolute;
        top: -30px;
        right: 1px;
    }
    header .container nav::after { width: 0;}
    header .links .icons {
        width: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
    }
    header .links :hover.icons span:nth-child(2) { width: 100%; }
    header .links .icons span {
        background-color: var(--white);
        height: 3px;
        margin-bottom: 5px;
    }
    header .links .icons span:first-child { width: 100%; }
    header .links .icons span:nth-child(2) { width: 60%; transition: 0.4s; }
    header .links .icons span:last-child { width: 100%; }
}
header .panel { left: 0; }
header .panel .info h3{
    font-size: 2rem;
    line-height: 1.5;
}
header .panel .info p {
    font: 1rem;
    line-height: 1.5;
}
header { position: relative; }
header .icon i{
    position: absolute;
    padding: 15px;
    font-size: 2rem;
    color: var(--white);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2312; 
}   
header .icon i:nth-child(2) {right: 0;}
/* end header */
/* ------------------------------------------------------------------------------------- */
/* start services section  */
.services {
    padding-top: 80px;
}
.services .row {
    margin-top: 70px;
    margin-bottom: 100px;
}
.services .row .info { display: flex; margin: 20px 0;}
.services .row .info i { 
    display: flex; 
    justify-content: center; 
    font-size: 2.4rem;
    margin: 10px 0px;
}
.services .row .info h3 {
    color: var(--blue);
    margin-top: 0;
}
.services .row .info p { color: gray; }
.services .row .info:hover i { font-size: 3rem; color: var(--blue);}
@media (max-width:991px) {
    .services .row .info {
        display: flex; 
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .services .row .info i {margin: 20px; }
    .services .row .info .text {text-align: center; }
}
/* end services section  */
/* ------------------------------------------------------------------------------------- */
/* start the design section  */
.design {
    position: relative;
    background-image:url(../img/design-features.jpg);
    background-position: center center ;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 80px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: 1;
}
.design::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.6;
    background-color: var(--dark);
}
.design .container {
    position: relative;
    z-index: 12;
}
.design .row .img {
    display: flex;
    justify-content: center;
}
.design .row .img img {
    transform: translateY(60px);
}
.design .panel {
    right: 0;
    justify-content: start;
}
.design .panel .info h3 { margin-bottom: 30px; }
.design .panel .info ul { padding: 0px 10px; }
.design .panel .info ul li { 
    list-style: none; 
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.design .panel .info ul li p { margin: 0; margin-left: 10px; }
@media (max-width:991px) { 
    .design .panel {justify-content: center;}
    .design .row .img img {
        opacity: 0;
    }
}
/* end the design section  */
/* ------------------------------------------------------------------------------------- */
/* start the portfolio section  */
.portfolio {padding: 80px 0px 10px ;}
.portfolio .container ul { 
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:50px 0;
    padding: 0;
}
.portfolio .container ul li {
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
}
.portfolio .container ul .active,
.portfolio .container ul li:hover {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}
.portfolio .container-fluid {
    padding: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.portfolio .container-fluid .img {
    width: calc(100% / 4);
    overflow: hidden;
    height: fit-content;
    position: relative;
}
.portfolio .container-fluid .img .text {
    position: absolute;
    padding: 10px 20px;
    background-color: var(--white);
    width: 100%;
    bottom: -50%;
}
.portfolio .container-fluid .img .text h5 {
    font-size: 18px;
    margin: 0;
}
.portfolio .container-fluid .img .text p {
    color: var(--blue);
    margin-bottom: 0;
}
.portfolio .container-fluid .img .icon {
    position: absolute;
    font-size:42px;
    top: 50%;
    right: 50%;
    transform: translate(50% , -90%);
    color: var(--white);
    background-color: var(--blue);
    width: 80px;
    height: 80px;
    padding: 7.5px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
}
.portfolio .container-fluid .img:hover img { transform: rotate(10deg) scale(1.4); } 
.portfolio .container-fluid .img:hover .text {bottom: 0;}
.portfolio .container-fluid .img:hover .icon {opacity: 0.7;}
@media (max-width:991px) {
    .portfolio .container-fluid .img { width: calc(100% / 2); }
}
@media (max-width:576px) {
    .portfolio .container-fluid .img { width: 100% }
}
.portfolio .container-fluid .button { margin: 40px auto; }
.portfolio .container-fluid .button a { 
    text-decoration: none; 
    color: var(--white);
    background-color: var(--blue);
    padding: 7px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid var(--blue);
}
.portfolio .container-fluid .button a:hover {
    background-color: var(--white);
    color: var(--blue);
}
/* end the portfolio section  */
/* ------------------------------------------------------------------------------------- */
/* start the design-2 section  */
.design-2 { position: relative;}
.design-2 video { width: 100%; }
.design-2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 99%;
    background-color: #00232c;
    top: 0;
    right: 0;
    opacity: 40%;
}
.design-2 .panel { width: 100%;}
.design-2 .panel .info { text-align: center;}
.design-2 .panel .info button { 
    border: 3px solid var(--dark);
    background-color: var(--dark);
    color: var(--white);
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
}
.design-2 .panel .info button:hover { 
    background-color: transparent;
    border-color: var(--white);
}
/* end the design-2 section  */
/* ------------------------------------------------------------------------------------- */
/* start the about us section  */
.about { padding: 60px 0px 0px;}
.about .img {overflow: hidden; margin: 0px auto;}
.about .img img {width: 80%; transform: translate(10% ,25%);}
/* end the about us section  */
/* ------------------------------------------------------------------------------------- */
/* start the design-3 section  */
.design-3 {
    padding: 80px 0px;
    background-image: url(../img/stats.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: center center;
    position: relative;
    z-index: 1;
}
.design-3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--transparent-color);
}
.design-3 .row {
    position: relative;
    z-index: 3;
    padding: 20px 0px;
    background-color: var(--transparent-blue);
}
.design-3 .row .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 10px ;
    color: var(--white);
}
.design-3 .row .info h1 { margin:10px 0px 0px; }
.design-3 .row .info p { 
    margin: 10px; 
    font-size: 12px;
}
.design-3 .row .info .shape {
    width: 50px;
    height: 50px;
    background-color: var(--dark);
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end the design-3 section  */
/* -------------------------------------------------------------------------- */
/* start the data section  */
.data { padding: 80px 0px 60px ;}
.data .head { text-align: center; }
.data .head p { 
    font-size: 16px;
    color: gray;
    margin: 30px 0px 50px;
}
.data .person { display: flex; margin: 30px 0px;}
.data .person .img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px;
    border-radius: 50%; 
    overflow: hidden;
}
.data .person img { width: 100%;}
.data .person .text {
    padding: 0px 30px 10px;
}
.data .person p {
    position: relative;
    font-size: 16px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--dark);
}
.data .person span {
    transition: 0.4s;
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    color: gray;
}
@media (max-width:991px) {
    .data .person {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .data .person p { text-align: center;}
    .data .person span {
        right: 50%;
        transform: translateX(50%);
    }
}
.data .my-progress { margin: 15px 0px; }
.data .my-progress .title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}
.data .my-progress .title p { padding: 0px 5px; }
.data .my-progress .title .one ,
.data .my-progress .title .two ,
.data .my-progress .title .three ,
.data .my-progress .title .four {
    position: absolute;
    font-size: 12px; 
    top:0 ;
    transform: translateX(-50%);
    background-color: var(--dark);
    color: var(--white);
    padding: 7px ;
    border-radius: 5px;
}
.data .my-progress .title .one {left: 95%;}
.data .my-progress .title .two {left: 93%;}
.data .my-progress .title .three {left: 80%;}
.data .my-progress .title .four {left: 87%;}
.data .my-progress .title span::after {
    position: absolute;
    content: "";
    border-width: 7px;
    border-style: solid;
    top: 100%;
    right: 30%;
    border-color: var(--dark) transparent transparent transparent;
}
.data .my-progress .graph {
    position: relative;
    width: 100%;
    height: 15px;
    background-color: gray;
}
.data .my-progress .graph .one ,
.data .my-progress .graph .two ,
.data .my-progress .graph .three ,
.data .my-progress .graph .four {
    height: 100%;
    background-color: var(--blue);
}
.data .my-progress .graph .one { width: 95%; }
.data .my-progress .graph .two { width: 93%; }
.data .my-progress .graph .three { width: 80%; }
.data .my-progress .graph .four { width: 87%; }
/* end the data section  */
/* -------------------------------------------------------------------------- */
/* start the design-4 section  */
.design-4 {
    padding: 80px 0px;
    background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: center center;
    position: relative;
    z-index: 1;
}
.design-4::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--transparent-color);
}
.design-4 .container {
    position: relative;
    text-align: center;
    color: var(--white);
    z-index: 7;
}
/* end the design-4 section  */
/* -------------------------------------------------------------------------- */
/* start the price section  */
.price { padding: 80px 0; }
.price .row { margin: 50px 0px 30px;}
.price .prices {
    background-color: #fafafa;
    padding: 30px 0px;
    margin: 15px 0px;  
    border-top: 2px solid var(--blue);
}
.price .prices p{
    margin: 0px ;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.price .prices .mony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--blue);
    padding-bottom: 20px;
}
.price .prices .mony p{
    position: relative;
    font-size: 70px;
    font-weight: 600;
}
.price .prices .mony sup {
    position: absolute;
    font-size: 20px;
    top:35px;
    left: -20px;
}
.price .prices .mony sub {
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    bottom: 35px;
    right: -45px;
}
.price .prices ul {
    list-style: none;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--blue);
}
.price .prices ul li {
    display: inline-block;
    font-size: 20px;
    padding: 10px 0px;
    border-bottom: 2px solid var(--blue);
}
.price .prices ul li:last-child{ border: none; }
.price .prices button {
    display:flex;
    background-color: transparent;
    justify-content: center;
    outline: none;
    margin: 20px auto 0px;
    border: 2px solid var(--blue);
    border-radius: 5px;
}
.price .prices button a {
    text-decoration: none;
    font-size: 20px;
    color: var(--dark);
}
.price .prices button:hover { background-color: var(--blue); }
.price .prices button:hover a{ color: var(--white); }
.price .dis {
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.price button {
    display: block;
    margin: 20px auto;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    padding: 5px 20px;
    outline: none;
    border-radius: 5px;
}
.price button a{ 
    font-size: 20px;
    text-decoration: none;
    color: var(--white);
}
.price button:hover {background-color: transparent;}
.price button:hover a{color:var(--dark)}

/* end the price section  */
/* -------------------------------------------------------------------------- */
/* start the price section  */
.email {
    padding : 80px 0px;
    background-image: url(../img/243.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 3;
}
.email::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--transparent-color);
    top:0;
}
.email .container {
    position: relative;
    z-index: 7;
}
.email .container p {
    font-size: 20px;
    color: var(--white);
}
@media (max-width:991px) {
    .email .container p {
        text-align: center;
        margin: 20px;
    }
}
.email .container form{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px auto;
    border-radius: 5px ;
    outline :none;
    border: 2px solid var(--white)
}
.email .container form i {
    width: 10%;
    color: var(--white);
    font-size: 30px;
    padding: 15px ;
} 
.email .container form input::placeholder{color: var(--white);}
.email .container form input {
    width: 60%;
    background-color: transparent;
    border:none;
    padding: 0px 20px;
    color: var(--white);
}
.email .container form input:focus{
    outline :none;
    color: var(--white);
}
.email .container form button {
    width: 30%;
    background-color: var(--blue);
    border: none;
    outline: none;
}
.email .container form button input{
    width: 100%;
    color: var(--white);
}
/* end the price section  */

